<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <%# This is the index.ejs file for the To-Do List App %>
    <header>
        <nav>
            <ul>
                <li><a href="/"><span class="material-symbols-outlined">calendar_view_day</span>Today</a></li>
                <li><a href="/work"><span class="material-symbols-outlined">work_update</span>Work</a></li>
            </ul>
        </nav>
    </header>